# general settings
ServerAliveInterval 15
ServerAliveCountMax 15
TCPKeepAlive yes
ForwardAgent yes

# inside or outside of FD-network
Match host fd* exec "test $(dig +short zentyal.fairydevices.local | wc -l) -eq 0"
  ProxyCommand ssh -W %h:%p gateway

Host gist.github.com
  HostName gist.github.com
  User mitsutani-fd
  IdentityFile ~/.ssh/id_fairy

Host home-rpi
  HostName maxwells.daemon.asia
  User kazuya
  Port 24842

Host home-win
  HostName alianware
  Port 22
  User kazuya

# gateway to fd network
Host gateway
  User mitsutani
  HostName m13000.fairydevices.jp

Host fd-pothos
  HostName 192.168.48.80
  User mitsutani

Host fd-macbook
  User mitsutani
  HostName 192.168.48.32

# momoiro cluster
Host fd-momoiro*
  User mitsutani

Host fd-momoiro01
  HostName 192.168.48.53

Host fd-momoiro02
  HostName 192.168.48.34

# lxc-containers
Host fd-doc
  HostName 192.168.48.107
  User docadmin

Host fd-docmit
  HostName 192.168.48.107
  User mitsutani

Host fd-lxc
  HostName 192.168.48.119
  User ubuntu

# General Multiple Port-forwarding (http://qiita.com/kawaz/items/a0151d3aa2b6f9c4b3b8)
#Host */*
#  ProxyCommand ssh -W "$(basename "%h")":%p "$(dirname "%h")"
#
#Host *+*
#  ProxyCommand ssh -W "$(sed -E 's/.*\+//'<<<"%h")":%p "$(sed -E 's/\+[^\+]*//'<<<"%h")")")")")"
# inside or outside of FD-network
#
