# general settings
ServerAliveInterval 15
ServerAliveCountMax 15
TCPKeepAlive yes
ForwardAgent yes

Match host momoiro*,vm* exec "test $(dig +short zentyal.fairydevices.local | wc -l) == 0"
  ProxyCommand ssh -W %h:%p gateway

# fd identity file
Host momoiro*,vm*
  IdentityFile ~/.ssh/id_fairy


# gateway to fd network
Host gateway
  User mitsutani
  HostName m13000.fairydevices.jp

Host fd-pothos
    HostName 192.168.48.80
    User mitsutani

# momoiro cluster
Host momoiro*
  User mitsutani

Host momoiro01
  HostName 192.168.48.53

Host momoiro02
  HostName 192.168.48.34

# lxc-containers
Host vm*
  User ubuntu

Host lxc-*
  User ubuntu

Host lms-*
  User ubuntu

Host vm01
  HostName 192.168.48.26

Host vm04
  HostName 192.168.48.28

Host vm04-lms2
  HostName 192.168.48.81

Host vm05
  HostName 192.168.48.76

Host lxc-lms2
  HostName 192.168.48.81

Host lms-multi1
  HostName 192.168.48.63

Host lms-multi8
  HostName 192.168.48.75

Host lms-single
  HostName 192.168.48.71

# General Multiple Port-forwarding (http://qiita.com/kawaz/items/a0151d3aa2b6f9c4b3b8)
#Host */*
#  ProxyCommand ssh -W "$(basename "%h")":%p "$(dirname "%h")"
#
#Host *+*
#  ProxyCommand ssh -W "$(sed -E 's/.*\+//'<<<"%h")":%p "$(sed -E 's/\+[^\+]*//'<<<"%h")")")")")"
# inside or outside of FD-network
#
